---
import { Image } from "astro:assets";
import taller1 from "../../assets/talleres/1.webp"
import taller2 from "../../assets/talleres/2.webp"
import taller3 from "../../assets/talleres/3.webp"
import taller4 from "../../assets/talleres/4.webp"
import taller5 from "../../assets/talleres/5.webp"
import taller6 from "../../assets/talleres/6.webp"
import taller7 from "../../assets/talleres/7.webp"
import taller8 from "../../assets/talleres/8.webp"
import taller9 from "../../assets/talleres/9.webp"
import taller10 from "../../assets/talleres/10.webp"

const gallery = [
    { image: taller1, width: "md:w-1/3" },
    { image: taller2, width: "md:w-1/3" },
    { image: taller3, width: "md:w-[69%]" },
    { image: taller4, width: "md:w-1/3" },
    { image: taller5, width: "md:w-1/3" },
    { image: taller6, width: "md:w-1/3" },
    { image: taller7, width: "md:w-1/3" },
    { image: taller8, width: "md:w-1/3" },
    { image: taller9, width: "md:w-1/3" },
    { image: taller10, width: "md:w-[69%]" },
]
---

<article id="talleres" class="flex justify-center align-middle bg-yawar-100 p-10">
    <section class="flex flex-col justify-center align-middle gap-8 my-20">
        <span class="font-caveatbrush text-5xl md:text-6xl text-center">Nuestros talleres</span>
        <div class="flex flex-wrap gap-8 justify-center align-middle">
            {gallery.map(item => (
                    <Image src={item.image} alt="Taller" class=`${item.width} h-auto shadow-2xl transition-transform duration-500 hover:scale-105` />
            ))}
        </div>
    </section>
</article>
