<section id="about" class="flex h-[60vh] w-full m-auto dark:bg-yawar-300 text-neutral-800 justify-center">
    <div class="flex flex-col justify-center align-middle w-2/3 gap-4">
        <span class="font-caveatbrush text-6xl text-center">¿Quiénes somos?</span>
        <p class="text-justify md:text-xl">
            Yawar significa <span class="text-yawar-400 font-bold">SANGRE</span> en quechua y aymara. Yawar nace como proyecto de carácter social y sin fines de lucro que busca trabajar por la dignidad menstrual en Bolivia, visibilizando esta vivencia como parte de la salud integral de las mujeres y personas menstruantes. Por medio del acceso a la información, insumos de gestión menstrual, arte, entre otras acciones, buscamos visibilizar e impactar de manera positiva en la vivencia menstrual-ovulatoria.
        </p>
    </div>
</section>
